html {
    box-sizing: border-box;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

* {
    outline: 2px solid black;
    box-sizing: inherit;
    color: rgb(231, 217, 217);
}

body {
    /*Wanna have it be the same as MY spotfy skin*/
    background: #aa0707d1;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

header {
    background: #d90a0a;
    text-align: center;
    font-size: 150%;
    background-image: url('../img/album-art.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -110px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 2%;
    line-height: 1.2;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background: #863a3a;
    gap: 1%;
    flex: 1;
    max-width: 100%;
    box-sizing: border-box;
}

main > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
    align-items: center;
    flex-wrap: wrap;
}

main > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
}

main > div:nth-of-type(2) > section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    clear: both;
    text-align: center;
    padding: 2%;
    font-size: 14px;
}


/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
    object-fit: cover;
}

aside {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex: 1;
    min-width: 300px;
    padding: 2%;
    background: #972525;
    border: 3px solid black;
    border-radius: 10px;
    line-height: 1.8;
}

blockquote {
    font-style: italic;
    border-left: 4px solid black;
    margin-left: 0;
    padding-left: 15px;
    line-height: 2;
    margin: 1em 0;
}

section {
    padding: 2%;
    background: #b83232;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
}

main > div > section {
    flex: 1;
    min-width: 0;
}

h2 {
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h3 {
    margin: 0 0 0.5em 0;
    line-height: 1.4;
}

p {
    margin: 0.5em 0;
    line-height: 1.8;
}

