:root{
    --primary-color: #72cfe2;
    --secondary-color: #dc9e9a;
    --background-color: #eba8a8;
    --text-color: #333333;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header{
    margin: 0;
    padding: 1em;
}

header h1{
    font-size: 2.5em;
    color: var(--primary-color);

body{
    color: var(--text-color);
}