@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}

#container {
	width: 80%;
	margin: 0 auto;
}

li {
	border-radius: 2px;
}

div ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
}

div li {
	margin-right:  0.3em;
}

div li a {
	border-top: 3px solid rgb(0, 0, 0); 
	border-left: 3px solid rgb(0, 0, 0);
	border-right: 3px solid rgb(0, 0, 0);
	display: block;
	padding: 0.5em;
	background: #ccc;
	text-decoration: none;
	color: #000;
	border-radius: 15px 15px 0 0;
}

div li a:hover {
	background: #d7d7d7;
}

div {
	padding: 5px;
	border-radius: 1rem;
}

div>div {
	border: 3px solid rgb(0, 0, 0);
	background-color: #ccc;
}

#tabpanel1,
#tabpanel2,
#tabpanel3 {
	display: none;
}

#tabpanel1:target,
#tabpanel2:target,
#tabpanel3:target {
	display: block;
}
