@charset "utf-8";
/* @import url('https://raw.githubusercontent.com/necolas/normalize.css/refs/heads/master/normalize.css'); */

:root {
    --thcol: rgb(50, 45, 45);
    --zebra: rgba(0,0,0,0.05);
    --border: #999;
}

html{
    font: 120%/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
}

table {
    background: #fff;
    max-width: 100%;
    border-spacing: 0;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-collapse: collapsed;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.10);
    box-shadow: 0 0 4px rgba(0,0,0,0.10);
}

table th,
table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    border-top: 1px solid #5f5d5d;
}

thead tr:nth-child(1) {
    background: rgba(75, 75, 75, 0.612);
    text-align: center; 
}

thead tr:nth-child(1) th {
    text-align: center;
}

tbody {
    background: #fff;
    font-style: italic;
}

tbody td:nth-child(1) {
    text-align: center;
}

/* target the rest */
tbody td:nth-child(n+2) {
    text-align: end;
}