:root {
    --primary-color: #72cfe2;
    --secondary-color: #cb5cd1;
    --background-color: #eba8a8;
    --text-color: #333333;
    --sunshine-yellow: #f9e79f; /* Thanks Alex*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    margin: 0;
    padding: 1em;
}

header h1 {
    font-size: 2.5em;
    color: var(--text-color);
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}