:root {
    --title-color: rgb(255, 142, 56);
    --background-color: #fbffdd;
    --text-color: #333333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Header styles */
header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 1em;
    background-color: var(--background-color);
}

/* WD Content */
h1 {
    text-transform: lowercase;
    font-size: 4.5em;
    font-weight: lighter;
    color: var(--title-color);
    padding: 0;
    margin: 0;
}

/* Date */
header p {
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

/* Main content */
main {
    position: relative;
    padding: 2em;
}

main ol{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



section h2 {
    text-transform: lowercase;
    font-size: 2rem;
    padding:0;
    margin:0;
}

/* Section "roofing" */
section:nth-of-type(1) {
    border-top: 15px solid rgb(101, 189, 101);
}

section:nth-of-type(2) {
    border-top: 15px solid rgb(214, 57, 138);
}

section:nth-of-type(3) {
    border-top: 15px solid rgb(57, 159, 214);
}


/* Section Info */
main ol:nth-of-type(1) li h3 {
    color: rgb(101, 189, 101);
    text-transform: uppercase;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

main ol:nth-of-type(2) li h3 {
    color: rgb(214, 57, 138);
    text-transform: uppercase;
    display: inline-flex;
    margin: 0;
    padding: 0;
}


main ol:nth-of-type(3) li h3 {
    color: rgb(57, 159, 214);
    text-transform: uppercase;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

main ol li p {
    display: inline-flex;
}

/* List mods | AI assistance. Theres a robo meet today the 21st so I cant get help rn*/
ol li::marker {
    content: counter(list-item) " ";
}

/* Image */ /*
aside:nth-of-type(1) {
    float:left;
    position: absolute;
    top: 0;
    left:0;
    
}

/* On Our Cover *//*
aside:nth-of-type(2) {
    float:left;
    padding:10px;
    border: 2px solid var(--title-color);
    filter: drop-shadow(5px 5px 10px rgba(255, 142, 56, 0.5));
}

/* Footer */
footer {
    text-align: right;
}

footer em {
    color: rgb(255, 111, 0);
}